.service-contact-section {
  padding: 100px 0;
  background-color: #fff;
}

.service-contact-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.service-contact-item-1 {
  z-index: 1;
}

.service-contact-item-2 {
  margin-left: -20px;
  z-index: 2;
}

.service-contact-item-3 {
  margin-left: -20px;
  z-index: 3;
}

.service-contact-item-4 {
  margin-left: -20px;
  z-index: 4;
}

.service-contact-item {
  border: 2px solid var(--main-pink);
  width: 380px;
  height: 380px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 35px;
  position: relative;
  background-color: var(--secondary-pink);
}

.service-contact-item .service-contact-item-title h3 {
  font-family: var(--font-heading);
  color: var(--main-green);
  font-size: var(--heading-base);
  font-weight: var(--font-weight-bold);
  text-align: center;
  line-height: 130%;
}

.service-contact-item .service-contact-item-content {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--main-black);
  text-align: center;
  line-height: 150%;
}

.service-contact-item .service-contact-item-icon {
  position: absolute;
  top: -34px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.service-contact-item .service-contact-item-icon .service-contact-item-icon-bg {
  position: relative;
}

.service-contact-item
  .service-contact-item-icon
  .service-contact-item-icon-bg
  img {
  width: 82px;
  height: auto;
  object-fit: contain;
}

.service-contact-item
  .service-contact-item-icon
  .service-contact-item-icon-bg
  span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-heading);
  font-size: var(--heading-md);
  font-weight: var(--font-weight-bold);
  color: white;
  line-height: 130%;
  text-align: center;
}

.service-contact-item .service-contact-item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  color: var(--links);
  text-align: center;
  line-height: 150%;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.service-contact-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}

.service-contact-modal.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.service-contact-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  will-change: opacity, transform;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease-out;
}

.service-contact-modal.active .service-contact-modal-overlay {
  opacity: 1;
}

.service-contact-modal-content {
  position: relative;
  width: 100%;
  max-width: 500px;
  background: var(--secondary-pink);
  border-radius: 24px;
  z-index: 1;
  opacity: 0;
  transform: translateY(100%) scale(0.8);
  will-change: transform, opacity;
  transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.3s ease-out;
}

.service-contact-modal.active .service-contact-modal-content {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.service-contact-modal-close {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  border: none;
  background: white;
  font-size: 32px;
  color: var(--black);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform, color;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  z-index: 10000;
  top: -22px;
  right: -22px;
  opacity: 0;
  transform: translateY(-20px) rotate(-180deg);
}

.service-contact-modal.active .service-contact-modal-close {
  opacity: 1;
  transform: translateY(0) rotate(0);
  transition-delay: 0.3s;
}

.service-contact-modal-close:hover {
  color: var(--main-green);
  transform: rotate(90deg);
}

.service-contact-modal-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 40px;
}

.service-contact-modal-title {
  color: var(--main-green);
  font-family: var(--font-heading);
  font-size: var(--heading-base);
  font-weight: var(--font-weight-bold);
  line-height: 130%;
}

.service-contact-modal-description {
  color: var(--main-black);
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  line-height: 150%;
}

.service-contact-modal-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 8px;
  max-height: 40dvh;
  overflow-y: auto;
}

.service-contact-modal-list-item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.service-contact-modal-list-item-icon {
  width: 24px;
  height: 24px;
  border-radius: 50px;
}

.service-contact-modal-list-item-icon img {
  width: 15px;
  height: auto;
  object-fit: contain;
}

.service-contact-modal-list-item-title {
  color: var(--main-green);
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  line-height: 150%;
  letter-spacing: 0;
  font-weight: var(--font-weight-bold);
}

