@media (max-width: 1200px) {
}

@media (max-width: 992px) {
    .faq-section-bg {
        display: none;
    }

    .faq-title {
        font-size: var(--heading-md);
    }

    .faq-section {
        background-color: white;
    }

    .faq-section {
        padding: 32px 0;
    }

    .faq-question h3 {
        font-size: var(--heading-sm);
    }

    .faq-answer p {
        font-size: var(--font-size-base);
    }

}

