.tab-dropdown-section {
  padding: 40px 0;
  background-color: white;
}

.tab-desktop {
  display: flex;
  gap: 12px;
  align-items: center;
}

.tab-desktop-item {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--gray);
  cursor: pointer;

}

.tab-desktop-item h3 {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  color: var(--gray);
  line-height: 150%;
}

.tab-desktop-item:hover {
  border-color: var(--links);
}

.tab-desktop-item:hover h3 {
  color: var(--links);
}

.tab-desktop-item.active {
  background-color: var(--links);
  border-color: var(--links);
}

.tab-desktop-item.active h3 {
  color: white;
}


/* Tab mobile  */
.tab-dropdown-select {
  position: relative;
  width: 100%;
  display: none;
}

.tab-dropdown-header {
  width: 100%;
  padding: 12px 16px;
  background-color: white;
  border: 1px solid #EDEDED;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-dropdown-selected {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  color: var(--gray);
}

.tab-dropdown-icon {
  transition: transform 0.3s ease;
}

.tab-dropdown-select.active .tab-dropdown-icon {
  transform: rotate(180deg);
}

.tab-dropdown-options {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #EDEDED;
  border-radius: 8px;
  display: none;
  z-index: 10;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.tab-dropdown-select.active .tab-dropdown-options {
  display: block;
}

.tab-dropdown-option {
  padding: 10px;
  font-size: var(--font-size-base);
  color: var(--gray);
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: 1px solid #EDEDED;
  font-weight: var(--font-weight-bold);
}

.tab-dropdown-option:hover {
  background-color: #F8F8F8;
  color: var(--links);
}

.tab-dropdown-option.active {
  color: var(--links);
  font-weight: var(--font-weight-bold);
}